<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.edu.mm.controller.fdfs"></context:component-scan>
    <mvc:annotation-driven/>
    <mvc:default-servlet-handler></mvc:default-servlet-handler>


    <!--2、-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--每次使用的内存大小-->
        <property name="maxInMemorySize" value="10240"></property>
        <!--上传的文件大小  总的文件大小-->
        <property name="maxUploadSize" value="#{10*1024*1024}"></property>
        <!--编码格式-->
        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>
</beans>